body{
	background: transparent url('/resources/img/background.jpg') no-repeat;
	background-position: center 20%;
	
}
input, label{
	width: 100%;
	margin : 0 auto; 
}

label{
	text-align: center;
	margin-top: 10px;
}

.title{
	margin-top: 100px;
	margin-bottom: 40px;
	font-size: 25px;
}

.file{
	width: 200px;
	margin: 0 auto;
}

@media (max-width: @screen-ms-max) {
	
}

/* 중간 기기들 (데스크탑, 992px 이상) */
@media (min-width: @screen-md-min) {

}
